@font-face {font-family: 'Open Sans';font-weight:normal;font-style:normal;src: url("xara_font_1.woff?56") format("woff"), local('Open Sans');}
@font-face {font-family: 'xr2_Syne';font-weight:bold;font-style:normal;src: url("xara_font_2.woff?56") format("woff"), local('xr2_Syne');}
